.homeimg{
    position: static;     
    display: flex;
    top: 9.5vh;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}
.homeimgscr{
    width: 40%;
    /* position: absolute; */
}
@media only screen and (max-width: 600px) {
    .homeimgscr{
        width: 99%;
    }
    .homeimg{
        /* margin-top: 15vh; */
        top: 20vh;
        padding-top: 20vh;
    }
}