body{
    background-color: white;
}
.filtrar{
    position:fixed;
    float: left;
    display: flex;
    flex-direction: column;
     width: 30%; 
    height: 90%;
    border-right: solid 1px rgb(119, 119, 119);
justify-content: center;
}
.filter{
    text-align: center;
    font-size: 2vw;
    padding: 10px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
}
#Notification{
    display: none;
    background-color: rgb(56, 4, 4);
    padding: 20px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    border: solid 1px black;
    flex-direction: column;
    color: white;
    position: absolute;
    right: 0;
    width: 40%;
    top: 11vh;
}
#timerNoti{
position: absolute;
right: 4vh;
}
.bttNoti{
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    font-weight: 900;
    transition: all .5s;
    cursor: pointer;
}
.bttNoti:hover{
background-color: rgb(255, 223, 223);
}
.bttcomprar{
    padding: 15px;
    align-self: center;
    border: none;
    background-color: rgb(71, 5, 5);
    color: whitesmoke;
    font-weight: 900;
    border-radius: 10px;
    width: 80%;
    cursor: pointer;
    
}
#produtosGrid{
    display: grid;
    position: static;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin-top: 5vh;
    justify-items: center;
    float: right;
    gap: 5vw;
    padding-bottom: 10px;
}
.produto{
    width: 25vw;
    display: flex;
    text-align: center;
    gap: 10px;
    justify-content: space-between;
    height: 60vh;
    flex-direction: column;
}
.imgProd{
    width: 25vw;
    height: 25vw;
    background-color: gray;
}
.pesquisar{
    border: 1px solid gray;
    margin-bottom: 5px;
    width: 100%;
}
.searchIcon{
    position: absolute;
    right: 0.31rem;
    height: calc(100% - 20px);
    background-color: black;
    padding-top: 0.5rem;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 0.42rem;
    cursor: pointer;
}
.searchCamp{
    position: relative;
    display:flex;
}
.search0{
    display: none;
    position: static;
    grid-template-columns: auto;
    width: 70%;
    height: 100%;
    margin-top: 30vh;
    justify-content: center;
    float: right;
    gap: 5vw;
}
.HamMenuActive{
    display: none;
    position:relative;
    width: calc(100% - 20px);
    background-color: #a7a7a7;
    padding: 10px;
}
@media only screen and (max-width: 775px) {
    .filtrar{
        padding-top: 20px;
        position:static;
         width: 80%; 
        height: 80%;
        float: none;
    margin: auto;
    border-right: none;
    }
    .filter{
        padding: 10px;
        border: 2px solid gray;
        margin-left: 0;
        font-size: 5vw;
    }
    #produtosGrid{
        float: none;
        width: 100%;
        grid-template-columns: auto;
        }
        .produto{
            width:max-content;
        }
        .imgProd{
            align-self: center;
            width: 40vh;
            height: 40vh;
            background-color: gray;
        }
        #Notification{
            position: fixed;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 90%;
            top: 1vh;
        }
        #timerNoti{
        right: 0.5vh;
        }
        .bttcomprar{
            width: 100%;
        }
}