body{
    background-color: white;
}
.filtrar{
    position: absolute;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
background-color: white;
justify-content: center;
}
.filter{
    text-align: center;
    font-size: 1.2vw;
    padding: 10px;
    border: none;
    margin-left: 5px;
}
.produtos{
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    right: 2vw;
    width: calc(100% - 25%);
    margin-top: 10vh;
    height: 250px;
    text-align: center;
    justify-items: center;
    align-items: center;
    gap: 5vw;
    margin-bottom: 100px;
}
.produto{
    max-width: 25vw;
    margin-top: 2vh;
    display: flex;
    text-align: center;
    /* margin-top: 30px; */
    gap: 10px;
    flex-direction: column;
}
.imgProd{
    width: 25vw;
    height: 20vw;
    background-color: gray;
}
.pesquisar{
    border: 1px solid gray;
    margin-bottom: 5px;
}
@media only screen and (max-width: 775px) {
    .filtrar{
        position: static;
        margin-top: 0;
        top: 200px;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 15vh;
        height: 10%;
    background-color: white;
    justify-content: center;
    }
    .produtos{
        display: grid;
        position: absolute;
        grid-template-columns: 1fr;
        right: 0;
        width: 100%;
        margin-top: 3vh;
        height: 250px;
        justify-items: center;
        align-items: center;
        gap: 10vw;
        margin-bottom: 100px;
    }
    .produto{
        max-width: 80vw;
        margin-top: 2vh;
        display: flex;
        text-align: center;
        /* margin-top: 30px; */
        gap: 10px;
        flex-direction: column;
    }
    .imgProd{
        align-self: center;
        width: 80%;
        height: 250px;
        background-color: gray;
    }
    .pesquisar{
        border: 2px solid black;
    }
    .filter{
        width: 60%;
        box-sizing: border-box;
        /* align-items: center; */
        align-self: center;
        text-align: center;
        font-size: 3vw;
        padding: 10px;
        border: none;
        margin-left: 0;
    }
}