.sobre{
    position: static;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: x-large;
    margin-top: 15vw;
    align-items: center;
    justify-content: center;
}
.sobreparag{
    max-width: 80%;
    text-align: center;
    line-height: 30px;
}