@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* body e reset */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: rgb(243, 243, 243);
}

/* Navegation Bar da pagina */
.top,
.bottomnav {
    display: flex;
    position: relative;
    width: calc(100% - 2vw);
    align-items: center;
    padding-left: 2vw;
    height: 10vh;
    background-color: rgb(97, 97, 97);
}

.icontop {
    position: relative;
    height: 80%;
}

.texttop {
    color: rgb(255, 112, 112);
    font-size: 5vh;
    padding-left: 0.5vw;
    transition: all;
    transition-duration: 300ms;
}

.texttop:hover,
.linkedsobre:hover,
.linkedcontat:hover {
    color: rgb(255, 50, 50);
    cursor: pointer;
}

.texttop:hover {
    font-size: 5.1vh;
}

#buttonsPage {
    right: 2vh;
    position: absolute;
}

li {
    margin: 5px;
    padding: 10px;
    float: right;
    list-style: none;
    border: 2px solid rgb(56, 56, 56);
    border-radius: 15px;
    color: rgb(255, 112, 112);
    transition: all;
    transition-duration: 300ms;
}

li:hover {
    color: rgb(255, 50, 50);
    cursor: pointer;
    border: 3px solid rgb(36, 36, 36);
}

a {
    text-decoration: none;
}

/* bottom */
.bottomnav {
    position: absolute;
    bottom: 0;
}

.linkedcontat {
    position: absolute;
    display: flex;
    height: 100%;
    top: 0;
    align-items: center;
    right: 5vh;
    color: rgb(255, 112, 112);
    transition: all;
    transition-duration: 300ms;
}

.linkedsobre {
    color: rgb(255, 112, 112);
    transition: all;
    transition-duration: 300ms;
}

#UserOrNot {
    display: inline;
}
/* hamburg menu */
.hamburguer {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
#HamMenuList{
    right: 2vh;
    position: absolute;
}
.hamburguer .line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #000000;
    margin-block: 10px;
    border-radius: 4px;
    transition: transform .5s,
        opacity .25s;
}

.hamburguer.active .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.hamburguer.active .line:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}
.HamMenu{
    display: none;
}
.HamMenuActive{
    display: none;
    position: absolute;
    width: calc(100% - 20px);
    background-color: #a7a7a7;
    padding: 10px;
}
/* Button Form */
.button{
    position:static;
    width: 100%;
    height: 50px;
    font-size: 10px;
    background-color: #282231;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
    margin-top: 10px;
    padding: 10px;
    transition: width .5s,
    border-radius .5s;

}
.text{
    display: static;
}
.button *{
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    transition: opacity .25s;
}

.icon{
    opacity:0;
}
.button:focus{
    width: 50px;
    background-color: #44c98a;
    border-radius: 50%;
}
.button:focus .text{
    opacity: 0;
}
.button:focus .icon{
    opacity: 1;
    transition-delay: .5s;
}
.correct, .incorrect{
    opacity: 0;
    display: none;
    height: 60%;
    width: 100%;
}
/* Mobile Responsivity */
@media only screen and (max-width: 775px) {

    .hamburguer {
        display: inline;
    }

    .responsivity {
        display: none;
    }

    .HamMenu{
        display: inline;
    }

    .texttop {
        font-size: 6vw;
    }

    .texttop:hover {
        font-size: 6.1vw;
    }

    .icontop {
        height: 60%;
    }

    .linkedsobre {
        font-size: 2.5vw;
    }


    li {
        float: none;
    }

    .HamMenuButtons {
        width: 100%;
        font-size: 3vw;
        text-align: center;
    }
}