.loggout{
    position: absolute;
}
.UserData{
    display: flex;
    position: absolute;
    top: 10vw;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: flex-start;
}
.UserInfo{
    margin-top: 5vh;
    text-align: end;
    font-size: 2vw;
    margin-left: 4vw;
}
.UserFoto{
    background-color: rgb(138, 138, 138);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: relative;
    margin-left: 20vw;
}
.fotoUser{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.loggout{
    padding: 10px;
}
.bttons{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-top: 10vh;
    width: 20%;
    height: 35%;
    /* justify-content: flex-end; */
    justify-content: center;
    align-items: center;
    right: 10vw;
}
.button{
    width: 50%;
}
@media only screen and (max-width: 775px) {
    .UserData{
       margin-top: 30vh;
    }
    .bttons{
        margin-top: 30vh;
    }
}