.UserData {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10vh;
    width: 70%;
}

.UserInfo {
    margin-top: 5vh;
    /* text-align: end; */
    font-size: 2vw;
    margin-left: 4vw;
}

.UserFoto {
    background-color: rgb(138, 138, 138);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: static;
    margin-left: 20vw;
}


.bttonsUser {
    display:flex;
    position: static;
    flex-direction: row;
    margin-top: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-bottom: 5vh;
    padding-top: 5vh;
    background-color: gray;
    width: 29%;
    float: right;
    justify-content: center;
}

.button {
    width: 70%;
    margin-top: 0;
}

@media only screen and (max-width: 775px) {
    .UserData {
        display: flex;
        position: static;
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
        width: auto;
    }
    .UserInfo {
        margin-left: 0;
        font-size: 3vw;
    }
    .UserFoto {
        margin-left: 0;
    }
    .bttonsUser{
        float: none;
        padding: 0;
        padding-top: 10px;
        border-radius: 0;
        background-color: transparent;
        width: auto;
       
    }
}