.loggout{
    position: absolute;
}
.UserData{
    display: flex;
    position: absolute;
    width: 40%;
    top: 30vh;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: flex-end;
}
.UserInfo{
    margin-top: 5vh;
    text-align: end;
}
.UserFoto{
    background-color: rgb(138, 138, 138);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: relative;
}
.Foto{
    top: 1vh;
    width: 40%;
}
.fotoUser{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}